// Main Link Colors
$link-color: lighten(#165b94, 3) !default;
$link-color-hover: adjust-color($link-color, $lightness: 10, $saturation: 25) !default;
$link-color-visited: adjust-color($link-color, $hue: 80, $lightness: -4) !default;
$link-color-active: adjust-color($link-color-hover, $lightness: -15) !default;

$footer-bg: #ccc !default;
$footer-bg-front: image-url('noise.png') !default;
$footer-bg-back: linear-gradient(lighten($footer-bg, 8), $footer-bg, darken($footer-bg, 11)) !default;
$footer-color: darken($footer-bg, 38) !default;
$footer-color-hover: darken($footer-color, 10) !default;
$footer-border-top: lighten($footer-bg, 15) !default;
$footer-border-bottom: darken($footer-bg, 15) !default;
$footer-link-color: darken($footer-bg, 38) !default;
$footer-link-color-hover: darken($footer-color, 25) !default;
$page-border-bottom: darken($footer-bg, 5) !default;

// typography

$sans: Helvetica, Arial, sans-serif !default;
$serif: Georgia, "Times New Roman", serif !default;
$mono: Menlo, Monaco, "Andale Mono", "lucida console", "Courier New", monospace !default;
$heading-font-family: "Georgia", "Times New Roman", serif !default;
$header-title-font-family: $heading-font-family !default;
$header-subtitle-font-family: $heading-font-family !default;

.heading {
  font-family: $heading-font-family;
}
.sans { font-family: $sans; }
.serif { font-family: $serif; }
.mono { font-family: $mono; }

body {
  font-size: 18px;
  font-family: $sans;
}

h1 { font-size: 2.369em; }
h2 {
  font-size: 1.777em;
  color: #333;
  font-weight: normal;
  line-height: 1.3em;
  margin-top: 1em;
  text-align: center;
}
h3 {
  font-size: 1.333em;
  color: #666;
  font-weight: normal;
  line-height: 1.4em;
  margin-top: 1.5em;
  text-align: center;
}
h5 { font-size: 0.75em; }
h6 { font-size: 0.563em; }


article h1 {
  color: #333;
  font-weight: normal;
  line-height: 1.3em;
  margin-top: 1em;
  text-align: center;
}

sup, sub {
  font-size: 0.70em;
  position: relative;
  display: inline-block;
  padding: 0 .2em;
  line-height: 0;
}

sup { top: -.5em; vertical-align: super; }
sub { bottom: -.5em; }

a[rev='footnote']{ font-size: .75em; padding: 0 .3em; line-height: 1; }

.footnotes ol li {
  font-size: 0.8em;
  margin-top: 2em;
  margin-left: 2em;
  margin-right: 2em;
  margin-bottom: 2em;
  list-style-type: decimal;
}

p {
  line-height: 1.5em;
  margin: .7em 0 1em 0;
  font-size: 1em;
  font-style: normal;
  font-weight: normal;
  color: #333;
  // -webkit-font-smoothing: antialiased;
}

// layout

$max-width: 1200px !default;

.basic-alignment {
  &.left { float: left; margin-right: 1.5em; }
  &.right { float: right; margin-left: 1.5em; }
  &.center { display:block; margin: 0 auto 1.5em; }
  &.left, &.right { margin-bottom: .8em; }
}

body {
  background-color: #fff;
  color: #000;
  padding: 0.6em;
  max-width: $max-width;
}

.container {
  overflow: hidden;
  padding: 0 1em;
  max-width: 40em;
  margin: auto;
}

.container > footer {
  @extend .sans;
  font-size: .8em;
  color: $footer-color;
  // text-shadow: lighten($footer-bg, 5) 0 1px;
  // background-color: $footer-bg;
  // @include background($footer-bg-front, $footer-bg-back);
  border-top: 1px solid $footer-border-top;
  position: relative;
  padding-top: 1em;
  padding-bottom: 1em;
  margin-bottom: 3em;
  z-index: 1;
  a {
    @include link-colors($footer-link-color, $footer-link-color-hover, $visited: $footer-link-color);
  }
  p:last-child { margin-bottom: 0; }
}

a {
  @include link-colors($link-color, $hover: $link-color-hover, $focus: $link-color-hover, $visited: $link-color-visited, $active: $link-color-active);
  @include transition(color .3s);
}

nav {
  position: relative;
  padding-top: 0.35em;
  padding-bottom: 0.35em;
  ul {
    list-style-type: none;
    text-align: center;
    li {
      display: inline;
    }
    li + li {
      // border-left: 1px solid #333;
      margin-left: 0.8em;
      a {
        // padding-left: 0.8em;
        // border-left: 1px solid #333;
      }
    }
  }
  form {
    @include background-clip(padding-box);
    margin: 0;
    padding: 0;
    float: left;
    text-align: left;
    .search {
      width: 93%;
      font-size: .95em;
      line-height: 1.2em;
      // @include border-radius(0);
      // @include background-clip(padding-box);
      // @include box-shadow(#fff 0 1px);
      background: #fff image-url('search.png') .3em .25em no-repeat;
      text-indent: 1.3em;
    }
  }
}

header[role=banner] {
  h1 {
    text-align: center;
    padding-bottom: 0.1em;
    // border-bottom: 0.01em solid #000;
  }
  a {
    text-decoration: none;
    &:visited {
      color: #000;
      text-decoration: none;
    }
  }
}

