{:paths ["bb"]
 :deps {markdown-clj/markdown-clj {:mvn/version "1.11.2"}
        org.babashka/http-server {:mvn/version "0.1.11"}
        selmer/selmer {:mvn/version "1.12.53"}
        camel-snake-kebab/camel-snake-kebab {:mvn/version "0.4.2"}}

 :tasks
 {:requires ([blog.render]
             [blog.articles])
  render {:task (exec 'blog.render/render)}
  publish {:task (exec 'blog.articles/publish)}
  test {:task (exec 'blog.render/test)}
  list-drafts {:task (exec 'blog.articles/list-drafts)}
  new-post {:doc "Create a new blog post"
            :task (exec 'blog.articles/new-post)}
  new-adventure {:doc "Create a new adventure post"
                 :task (exec 'blog.articles/new-adventure)}}}
