// Here you can easily change your sites's color scheme.
// To give it a try, uncomment some of the lines below rebuild your blog, and see how it works.
// If you need a handy color picker try http://hslpicker.com

$main-bg: #f8f8f8;
$page-bg: $main-bg;
$article-border: #eeeeee;
$header-bg: $main-bg;
$footer-bg: $main-bg;
$title-color: #222;
$subtitle-color: lighten($header-bg, 58);
$nav-bg: $main-bg; //desaturate(lighten(#8fc17a, 18), 5);
$nav-bg-back: $main-bg;
$nav-bg-front: $main-bg;
// $nav-color: darken($nav-bg, 38) !default;
// $nav-color-hover: darken($nav-color, 25) !default;
// $nav-placeholder: desaturate(darken($nav-bg, 10), 15) !default;
// $nav-border: darken($nav-bg, 10) !default;
$nav-border-top: $main-bg; //lighten($nav-bg, 15) !default;
$nav-border-bottom: $main-bg; //darken($nav-bg, 25) !default;
// $nav-border-left: darken($nav-bg, 11) !default;
// $nav-border-right: lighten($nav-bg, 7) !default;
$sidebar-bg: $main-bg; //desaturate(#eceff5, 8);
$sidebar-link-color: saturate(#526f9a, 10);
$sidebar-link-color-hover: darken(#7ab662, 9);

$footer-bg-front: $main-bg;
$footer-bg-back: $main-bg;


//$header-bg: #553355;
// $subtitle-color: lighten($header-bg, 58);
// $nav-bg: desaturate(lighten(#8fc17a, 18), 5);
// $sidebar-bg: desaturate(#eceff5, 8);
// $sidebar-link-color: saturate(#526f9a, 10);
// $sidebar-link-color-hover: darken(#7ab662, 9);


/* To use the light Solarized highlighting theme uncomment the following line */
//$solarized: light

/* If you want to tweak the Solarized colors you can do that here */
//$base03:          #002b36; //darkest blue
//$base02:          #073642; //dark blue
//$base01:          #586e75; //darkest gray
//$base00:          #657b83; //dark gray
//$base0:           #839496; //medium gray
//$base1:           #93a1a1; //medium light gray
//$base2:           #eee8d5; //cream
//$base3:           #fdf6e3; //white
//$solar-yellow:    #b58900;
//$solar-orange:    #cb4b16;
//$solar-red:       #dc322f;
//$solar-magenta:   #d33682;
//$solar-violet:    #6c71c4;
//$solar-blue:      #268bd2;
//$solar-cyan:      #2aa198;
//$solar-green:     #859900;


/* Non highlighted code colors */
//$pre-bg: $base03;
//$pre-border: $base02;
//$pre-color: $base1;
