// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

sup {
    line-height: 0;
    vertical-align: super;
    font-size: 70%;
}

.footnotes  ol  li {
    font-size: 0.8em;
    margin-top: 2em;
    margin-left: 2em;
    margin-right: 2em;
}