// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much
n
sup {
    line-height: 0;
    vertical-align: super;
    font-size: 70%;
}

.footnotes  ol  li {
    font-size: 0.8em;
    margin-top: 2em;
    margin-left: 2em;
    margin-right: 2em;
}

.comment-button {
  cursor: pointer;
  position: relative;

  display: block;
  padding: 0;

  overflow: hidden;

  border-width: 0;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
  
  background-color: darken($main-bg, 50); //#2ecc71;
  color: #ecf0f1;
  
  transition: background-color .3s;
}

.comment-button:hover, .comment-button:focus {
  background-color: darken($main-bg, 80); //#27ae60;
}

.comment-button > * {
  position: relative;
}

.comment-button span {
  display: block;
  padding: 12px 24px;
}
